.features .glyphicon {
  font-size: 32px;
}

body {
  padding-bottom: 70px;
}

.d3-window {
  border-radius: 5px;
  border: 2px solid;
  border-color: #999;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  margin-top: 100px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
}

.footer .glyphicon {
  font-size: 14px;
}

.spacer {
  margin-top: 40px;
}

.spacer-bottom {
  margin-bottom: 150px;
}

.quote {
  background-color: #444;
  color: #e1e1e1;
  margin: 2em 0;
}
.quote blockquote {
  border: none;
  margin: 0;
}
.quote footer {
  color: #c1c1c1;
}
